<!DOCTYPE html>
<html>
	<head>
		<title>Home</title> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 
		<style>
			header{
  background-color:lightblue;
  font-size: 18px;
  text-align: center;
}
body{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-t-4TJ3zgJOT_xkmMQwpRbi1ElQwtYMac51Z5jS_DXEGF6Bt8NA");
  background-size:cover;
}
#posts{
	background-color:white;
	}
			</style>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
			<script type="text/javascript" src="homeang.js"></script>
	</head>
		<body>
			<header>
				<h1>Hello!Welcome to the home page of blogtweet</h1>
				 <p>Share ur posts </p>
				 <p> Go to ur <a href="http://auth.vcap.me/user/account/info">Account info</a>
			</header>
			<br>
			<section>
				<p>Edit the post <i>below</i> to publish it</p>
				<textarea id="textarea" rows="5" cols="50" >
				
				</textarea>
				<hr>
				<input type="text" id="txt" placeholder="Enter your User-ID correctly" />
				<input type="button" id="btn" onclick="insert()" value="post" />
				
			</section>
		<section ng-app="myApp" ng-controller="myCtrl" id="posts">
			 <h2>Recent Posts</h2>
			<div ng-repeat="x in articles">
				<b>
					{{x.context}}
				</b>
				<button type="button" class="btn btn-default btn-lg" id='like' ng-click="likeClick()" ng-init="liked='Like';likeCount='0'">
        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span> {{liked}}  {{likeCount}}
        </button>


				<p>
					By user with id: {{x.user_id}} posted at {{x.created | date}}
				</p>
				<hr>
			</div>
			
		</section>
			<div>
				<input type="button"  onclick="myfunc()" value="Logout" />
			</div>
			<script type="text/javascript" src="home.js"></script>
		</body>	  
	
	
	
	</html>


      
           
           
        
   