  #Signup{
   text-align:center;    

   }
  .register-form{
    margin-left:280px;
    margin-right:280px;
    

   }
   #button{
    margin-left:320px;
    color: :blue;
  }
  body{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfABA9IxraDql8ZgZ8to_gYW7Y3Ny_cpNIXhlW9i3GVcUQBawvYQ");
  background-size:cover;
  }
  .loginsection {
     text-align:center;
      font-size:40px;
      color:whitesmoke;
  }
